%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = {
      "packstack-installer": { "count": -1 },
      "packstack-client": { "count": -1 } };
    node_selector($('#drag_drop'), constraints);
  });
